@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html{
  font-size: 1vw;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  color: #E5233D;
  font-size: 1.2rem;
}
.active:hover{
  color: #E5233D;
}



.rating:not(:checked) > input {
  appearance: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: hsl(352, 79%, 52%);
}

.rating > input:checked ~ label {
  color: #ffa723;
}

@media  screen and (max-width:768px) {
  html{
    font-size: 3vw;
  }}
